name: Build NPM Package & Toolbox Image

on:
  push:
    tags:
      - '*'

jobs:
  publish-gpr:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    env:
      NODE_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://npm.pkg.github.com/
          always-auth: true
          token: ${{secrets.GITHUB_TOKEN}}
      - run: echo "//npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN}" | tee -a $NPM_CONFIG_USERCONFIG \
      - run: echo "@eeveebot:registry=https://npm.pkg.github.com/" | tee -a $NPM_CONFIG_USERCONFIG
      - run: npm ci
      - run: npm test
      - run: npm publish

  build-container-image:
    needs: publish-gpr
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ github.repository }}
          tags: |
            type=ref,event=branch
            type=ref,event=tag
            type=ref,event=pr
            type=sha,format=short
            type=raw,value=latest,priority=900,enable={{is_default_branch}}

      - name: Build and Push
        uses: docker/bake-action@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          push: true
          files: |
            ./toolbox/docker-bake.hcl
            cwd://${{ steps.meta.outputs.bake-file }}
          targets: build
